@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.project-card {
    @include m.flex-col;
    gap: v.$spacing-md;
    @include m.card;
    overflow: hidden;
    cursor: pointer;
    //Permet de baser les clamp sur la largeur du conteneur et non de la fenêtre
    container-type: inline-size;
    @include m.card-hover-gradient;
    position: relative;


    &_cover {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
        border-radius: v.$radius-lg;

        &_empty {
            background: v.$color-border;
        }
    }

    &_resume {
        color: v.$color-text;
    }

    &_tags {
        @include m.flex-row(center, center);
        flex-wrap: nowrap;
        // gap fluide : de 0.4rem (serré) à 1rem (large)
        gap: clamp(v.$spacing-xs, 3cqw, #{v.$spacing-sm});
        width: 100%;
        min-width: 0;
        // padding conteneur fluide aussi
        padding: 0 clamp(v.$spacing-xs, 3cqw, #{v.$spacing-sm});

        .tag {
            @include m.tag;
        }
    }
}