# Dépendances
node_modules/

# Variables d'environnement (SECRETS !)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Images uploadées (générées à la volée)
uploads/

# OS
.DS_Store
Thumbs.db

# Éditeur
.vscode/
.idea/
