@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.footer {
    background-color: v.$color-accent;
    padding: v.$spacing-xl 0;
    color: v.$color-card;

    .footer-content {
        @include m.flex-row(space-between, center);
        @include m.container-max-width;
        gap: 10px;

        .socials-link {
            @include m.button;
            @include m.buttonHover;
            color: v.$color-text;

            @media (max-width: v.$breakpoint-mobile) {
                padding: v.$spacing-xs v.$spacing-sm;
            }
        }

        .footer-scrolltop {
            @include m.button;
            @include m.buttonHover;
            color: v.$color-text;

            @media (max-width: v.$breakpoint-mobile) {
                padding: v.$spacing-xs v.$spacing-sm;
            }
        }

        .footer-copy_break {
            @media (max-width: v.$breakpoint-tablet) {
                display: block;
            }
        }
    }

}