@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.footer {
    background-color: v.$color-accent;
    padding: v.$spacing-xl 0;
    color: v.$color-card;

    .footer-content {
        @include m.flex-row(space-between, center);
        @include m.container-max-width;

        .socials-link {
            color: v.$color-card;
        }

        .footer-scrolltop {
            @include m.button;
            @include m.buttonHover;
        }
    }

}