@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.about-main {
    @include m.flex-col;

    .section-presentation {
        @include m.flex-row;
        gap: v.$spacing-md;
        padding: v.$spacing-md 0;

        @media(max-width: v.$breakpoint-tablet) {
            @include m.flex-col;
        }

        &_text {
            @include m.flex-col;
            gap: v.$spacing-md;
        }
    }

    .hero-img {
        @include m.avatar-round(clamp(8rem, 30vw, 20rem));
        object-position: top left;
    }

    .section-parcours {
        @include m.flex-col;
        gap: v.$spacing-md;
        padding: v.$spacing-md 0;
    }
}